.bg-cover{
    background: url("../images/background.png") no-repeat center;
    background-size: cover;
    height: 100%;
}
.content{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.header-part{
    background-color: black;
    background-color:rgba(0,0,0,0.35);
}
.website-title{
    display: inline-block;
    color: #ffffff;
    opacity: initial;
    padding: 20px 0px 20px 90px;
    font-size: 24px;
}
.site-head{
    text-decoration: none;
}
.website-title:hover{
    color: #3cb878;
}
.login-sign-up-text{
    display: inline-block;
    position: relative;
    bottom: 4px;
    color:white;
    font-size: 15px;
    margin-right: 70px;
}
.ic-forum-1x:hover, .ic-calendar-1x:hover, .ic-journey-1x:hover
{
    display: inline-block; background: url('../images/hover-sprites.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;}

.ic-forum-1x, .ic-journey-1x, .ic-calendar-1x
{ display: inline-block; background: url('../images/lastpng.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;}

.ic-forum-1x { background-position: -20px -80px; width: 19px; height: 19px; }
.ic-journey-1x { background-position: -20px -0px; width: 28px; height: 20px;margin-left:20px}
.ic-calendar-1x { background-position: -20px -40px; width: 20px; height: 20px; margin-left:20px}

.ic-forum-1x:hover { background-position: -20px -80px; width: 19px; height: 19px; }
.ic-journey-1x:hover { background-position: -20px -0px; width: 28px; height: 20px;margin-left:20px}
.ic-calendar-1x:hover { background-position: -20px -40px; width: 20px; height: 20px; margin-left:20px}
.line{
    width: 1px;
    padding-right: 25px;
    margin-left: 20px;
    color: #32302f;
}
.login-link{
    text-decoration: none;
    color:#3cb878;
}
.sign-link{
    text-decoration: none;
    color:#3cb878;
}
.login-link:hover{
    text-decoration: underline;
    color:#3cb878;
}
.sign-link:hover{
    text-decoration: underline;
    color:#3cb878;
}
.right-side{
    display: inline-block;
    float: right;
    padding-top: 20px;
}

.login-form-parent{
    width: 444px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
}
.login-form{
    width: 322px;
    margin: 0px auto 10px;

}
.box{
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top:10px;
    width: 322px;
    height: 46px;
    border:1px solid #eaeaea;
    border-radius: 4px;
    font-family: Verdana;
}
.box::placeholder{
    color: #bebebe;
}
.box:focus{
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px 2px #dbdbdb;
}
.button{
    background-color: #3cb878;
    margin-top:10px;
    width: 322px;
    height: 46px;
    border-radius: 4px;
    border:none;
    font-size: medium;
    color: #ffffff;
    font-family: Verdana;
}
.button:hover{
    background-color: #329a65;
    margin-top:10px;
    width: 322px;
    height: 46px;
    border-radius: 4px;
    border:none;
    font-size: medium;
    color: #ffffff;
    font-family: Verdana;
}
.checkbox-div{
    display: flex;
    align-items: center;
    margin: 15px 0px;
 }
.rules-text{
    text-decoration: none;
    color: #3cb878;
}
.rules-text:hover{
    text-decoration: underline;
}
.checkbox{
    position: relative;
    margin : 0px;
    -webkit-appearance: none;
    border: 1px solid #eaeaea;
    width: 19px;
    height: 19px;
    border-radius: 4px;
}
.checkbox:checked:after {
    content: url("../images/checkbox@1X.png");
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: #99a1a7;
}
.checkbox:focus{
    outline: none;
}
.checkbox-text{
    padding-left: 10px;
    font-family: Verdana;
    font-size: 14px;
}
.button:focus{
    outline: none;
}
.facebook-collect{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.google-collect{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Facebook-button{
     background-color: #305db8;
     color: white;
     font-family: "Arial Narrow";
     font-size: 17px;
     font-weight: 500;
     width: 157px;
     height: 46px;
     border-radius: 4px;
     border:none;
 }
.Facebook-button:hover{
    background-color: #264b96;
    color: white;
    font-family: "Arial Narrow";
    font-size: 17px;
    font-weight: 500;
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border:none;
}
.a{
    padding-left: 22px;
}
.b{
    padding-left: 20px;
}
.facebook-png{
    padding: 4px 15px 4px 6px;
    margin-left: 5px;
    border-right: 1px solid #2b54a5;
}
.google-png{
    padding: 6px;
    padding-right: 11px;
    margin-left: 5px;
    border-right: 1px solid #c8422d;
}
.Google-button{
    display: inline-block;
    background-color: #df4a32;
    color: white;
    float: right;
    font-size: 17px;
    font-family: "Arial Narrow";
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border:none;
}
.Google-button:hover{
    display: inline-block;
    background-color: #c3412c;
    color: white;
    float: right;
    font-size: 17px;
    font-family: "Arial Narrow";
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border:none;
}
.facebook-png{
    width: 10px;
    height: 20px;
}
.google-png{
    width: 25px;
    height: 16px;
}
.signup-link{
    font-size: 20px;
    font-family: Calibri;
    color: #434343;
    text-decoration: none;
}
.login-link-s{
    text-decoration: none;
    color:#3cb878;
    float: right;
    line-height: 20px;
}
.login-link-s:hover{
    text-decoration: underline;
    color:#3cb878;
    float: right;
    line-height: 20px;
}
.login-head-text-collect{
    position: relative;
    margin-bottom:20px;
}
.login-head-text-collect::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    transform: translateX(-61px);
}
.z:focus{
    outline: none;
}
.login-middle-text{
    margin-top:25px;
    margin-bottom: 10px;
}
.or-text{
    text-align: center;
    font-size: 16px;
    color: #848484;
}
.or-text::before{
    content: " ";
    width: 140px;
    height: 0.3mm;
    background-color: #eaeaea;
    display: inline-block;
    margin: 0px 13px 3px 0px;
}
.or-text::after{
    content: " ";
    width: 140px;
    height: 0.3mm;
    background-color: #eaeaea;
    display: inline-block;
    margin: 0px 0px 3px 13px;
}

